<!DOCTYPE html>
<html lang="ru">
<head>
  <%- include('parts/head.ejs') %>
  <title>GetOnlineStats</title>
  <script src="/js/GetOnlineStats.js"></script>
  <script src="/js/example.js"></script>
</head>
<body>
  <%- include('parts/header.ejs') %>
  <main class="container">
    <h1>GetOnlineStats</h1>
    <p>Online: <b id="onlineCountEl">0</b></p>
    <div class="btns">
      <a href="/" class="btn waves-effect waves-light">Go back</a>
    </div>
  </main>
</body>
</html>