<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('parts/head.ejs') %>
  <title>GetOnlineStats</title>
  <script src="/js/GetOnlineStats.js"></script>
  <script src="/js/example.js"></script>
</head>
<body>
  <%- include('parts/header.ejs') %>
  <main class="container">
    <h1>GetOnlineStats</h1>
    <div class="info">
      <p>JavaScript module, which can get online users count on site,
        based on <a href="https://socket.io/">Socket.io</a></p>
      <p>For example, online on this page: <b id="onlineCountEl">0</b></p>
    </div>
    <div class="btns">
      <a href="/docs" class="btn waves-effect waves-light">Get started</a>
      <a href="/js/GetOnlineStats.js" class="btn waves-effect waves-light" download>Download</a>
      <a href="https://github.com/Degreet/get-online-stats-module" class="btn waves-effect waves-light">Github</a>
    </div>
  </main>
</body>
</html>