<!DOCTYPE html>
<html lang="ru">
<head>
  <%- include('parts/head.ejs') %>
  <title>GetOnlineStats</title>
</head>
<body>
  <%- include('parts/header.ejs') %>
  <main class="container">
    <h1>GetOnlineStats</h1>
    <p>JavaScript module, which can get online users count on site,
      based on <a href="https://socket.io/">Socket.io</a></p>
    <div class="btns">
      <a href="/docs" class="btn waves-effect waves-light">Get started</a>
      <a href="/example" class="btn waves-effect waves-light">View example</a>
      <a href="/js/GetOnlineStats.js" class="btn waves-effect waves-light" download>Download</a>
    </div>
  </main>
</body>
</html>